* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  background-image: url(img/layer-base.png);
}

@font-face {
	font-family: raleway_f;
	src: url(fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(fonts/raleway-black.woff2);
	font-weight: 900;
}

body {
  padding: 0 20rem;
  padding-top: 10rem;
  font-family: raleway_f, sans-serif;
}

h2 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 48px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 10px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: white;
  border: 1px dashed black;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 15px;
}

  
